body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navContainer {
  height:80px;
  background-color: #e0e2db;
  display:flex;
  justify-content: space-around;
  align-items: center;

}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.wordContainer {
  display:inline-block;
  margin:2px;
  color:white;
  font-size: 30pt;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.countdownContainer {
  display:flex;
  width: 35%;
  align-items: center;
}

.informationText {
  color:white;
  font-size: 15pt;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#typingModuleContainer {
  height:650px;
  background-color: #a8aea4;
  padding-top: 1em;
}

#wordAndInputContainer {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #5c7479;
  width:50%;
  overflow:hidden;
}

#graphContainer {
  display:flex;
  justify-content: center;
  background-color: #e0e2db;
}

.lastTenSvg {
  background-color: white;
  position: relative;
  top: -100px;
  height: auto;
}

#wordGeneratorContainer, #wordGeneratorContainerIncorrect {
  margin-bottom:1em;
  padding-left:1em;
  padding-right:1em;
  height: 250px;
  overflow:hidden;
}

#wordGeneratorContainerIncorrect :first-child {
  background-color:rgb(219, 25, 25);
}

#typingInformationContainer {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #5c7479;
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow:hidden;
}

#lastTenRunsContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.typingInput {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.8rem 1.5rem;
  background-color: #e0e2db;
  border: none;
  width: 90%;
  display: block;
}

.btn {
  width: 160px;
  height: 50px;
  cursor: pointer;
  background: #efcf3f;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

span {
  color: white;
  font-size: 1.3em;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    height:50px;
    background: none;
    outline: none;
    border: #f53f27 solid;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    transition: 100ms linear;
}

.cancelbtn:hover{
  transform: scale(1.1);
}

.icon {
  max-width: 60%;
  max-height: 60%;
}
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

.modal-login {
  width: 35%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  height:50px;
  background: none;
  outline: none;
  border: #efcf3f solid;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  transition: 100ms linear;
}

.modal-login:hover {
  transform: scale(1.1);
}

.modal-cancel {
  width: 35%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  height:50px;
  background: none;
  outline: none;
  border: #efcf3f solid;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

.popupLogin {
  color: black;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.countDownBarFill {
  background-color: white;
  height: 20px;
  transition: 5000ms linear;
}

.countDownBarDrain {
  background-color: white;
  height: 20px;
  transition: 1000ms linear;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

#cancelContainer {
  background-color:#f1f1f1;
  height: 50px;
}

@media only screen and (max-width: 1400px) {
  .wordContainer {
    display:inline-block;
    margin:2px;
    color:white;
    font-size: 25pt;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media only screen and (max-width: 1000px) {
  .wordContainer {
    display:inline-block;
    margin:2px;
    color:white;
    font-size: 20pt;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media only screen and (max-width: 700px) {
  #typingModuleContainer {
    background-color: #a8aea4;
    padding-top: 1em;
  }
}